* @lidofinance/community-staking
/ethereum-huge-tx/ @lidofinance/lido-analytics
/ethereum-steth/ @lidofinance/lido-eth-protocol
/storage-watcher/ @lidofinance/lido-eth-protocol
/l2-bridge-arbitrum/ @lidofinance/lido-eth-protocol
/l2-bridge-balance/ @lidofinance/lido-eth-protocol
/l2-bridge-ethereum/ @lidofinance/lido-eth-protocol
/l2-bridge-optimism/ @lidofinance/lido-eth-protocol
/l2-bridge-base/ @lidofinance/lido-eth-protocol
/l2-bridge-zksync/ @lidofinance/lido-eth-protocol
/l2-bridge-mantle/ @lidofinance/lido-eth-protocol
/l2-bridge-linea/ @lidofinance/lido-eth-protocol
/ethereum-financial/ @lidofinance/lido-eth-protocol
/arb-subgraph/ @lidofinance/lido-si
/ethereum-governance/ @lidofinance/lido-dao-ops-team
/multisig-watcher/ @lidofinance/lido-dao-ops-team
/voting-watcher/ @lidofinance/lido-dao-ops-team
/ethereum-validators-set/ @lidofinance/lido-tooling
