ethereum-huge-tx/* @lidofinance/lido-analytics
ethereum-steth/* @lidofinance/lido-eth-protocol
storage-watcher/* @lidofinance/lido-eth-protocol
l2-bridge-arbitrum/* @lidofinance/lido-eth-protocol
l2-bridge-balance/* @lidofinance/lido-eth-protocol
l2-bridge-ethereum/* @lidofinance/lido-eth-protocol
l2-bridge-optimism/* @lidofinance/lido-eth-protocol
ethereum-financial/* @lidofinance/lido-eth-protocol
reverted-tx-watcher/* @lidofinance/lido-eth-protocol
arbitrum/* @lidofinance/lido-eth-protocol
* @lidofinance/automation
