---
name: Tests runner

on:
  workflow_call:
    inputs:
      path:
        description: path to the project to run tests against
        required: true
        type: string

jobs:
  tests:
    runs-on: ubuntu-latest

    name: JS tests

    defaults:
      run:
        working-directory: ${{ inputs.path }}
        shell: bash

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: 20.10.0
          cache: yarn
          cache-dependency-path: "**/yarn.lock"

      - name: Install dependencies
        run: yarn install --immutable

      - name: Generate forta.config.json
        run: >-
          mkdir -p $HOME/.forta && printf '{"jsonRpcUrl":"%s"}' "$URL" >>
          $HOME/.forta/forta.config.json
        env:
          URL: ${{ secrets.ETHEREUM_RPC_URL }}
        if: ${{ steps.check_scripts.outputs.has_e2e == 'true' }}

      - name: Run unit tests
        run: yarn test

      - name: Check if test:e2e script is present
        run: >-
          jq '.scripts | has("test:e2e")' package.json |
          xargs -I% echo "HAS_E2E=%" |
          tee $GITHUB_OUTPUT
        id: check_scripts

      - name: Run e2e tests
        run: yarn test:e2e
        if: ${{ steps.check_scripts.outputs.has_e2e == 'true' }}
